<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agenda de Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none">
      <ion-input placeholder="Nome" type="text" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Telefone" type="text" [(ngModel)]="telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Sexo" placeholder="Selecione" [(ngModel)]="genero">
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="Feminino">Feminino</ion-select-option>
        <ion-select-option value="Não declarar">Não declarar</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" [(ngModel)]="dataNascimento"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
  </ion-list>
</ion-content>
