<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Toggle edição (só aparece se for edição) -->
  <ion-item *ngIf="contato">
    <ion-label>Editar Contato</ion-label>
    <ion-toggle color="success" [checked]="editar" (ionChange)="toggleEdicao()"></ion-toggle>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-list>

        <!-- Nome -->
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input [(ngModel)]="nome" placeholder="Digite o nome" [disabled]="!editar"></ion-input>
        </ion-item>

        <!-- Telefone -->
        <ion-item>
          <ion-label position="stacked">Telefone</ion-label>
          <ion-input [(ngModel)]="telefone" placeholder="Digite o telefone" [disabled]="!editar"></ion-input>
        </ion-item>

        <!-- Gênero -->
        <ion-item>
          <ion-label position="stacked">Gênero</ion-label>
          <ion-select [(ngModel)]="genero" placeholder="Selecione" [disabled]="!editar">
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Feminino">Feminino</ion-select-option>
            <ion-select-option value="Não declarar">Não declarar</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Data de nascimento -->
        <ion-item>
          <ion-label position="stacked">Data de Nascimento</ion-label>
          <ion-datetime
            [(ngModel)]="dataNascimento"
            presentation="date"
            [max]="maxDate"
            [disabled]="!editar">
          </ion-datetime>
        </ion-item>

        <!-- Botão salvar -->
        <ion-button expand="block" color="success" class="ion-margin-top"
          (click)="salvar()" [disabled]="!editar">
          {{ contato ? 'Atualizar Contato' : 'Cadastrar Contato' }}
        </ion-button>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
