<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agenda de Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Habilitar edição</ion-label>
    <ion-toggle color="sucess" (IonChange) = "alterarEdicao()"></ion-toggle>
  </ion-item>
  <ion-list>
    <ion-item lines="none">
      <ion-input placeholder="Nome" type="text" [(ngModel)]="nome" disabled="{{editar}}"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input placeholder="Telefone" type="text" [(ngModel)]="telefone" disabled="{{editar}}"></ion-input>
    </ion-item>
    <ion-item lines = "none">
      <ion-select label="Gênero" placeholder="Selecione" [(ngModel)]="genero" disabled="{{editar}}">
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="Feminino">Feminino</ion-select-option>
        <ion-select-option value="Não declarar">Não declarar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines = "none">
      <ion-label>Data de Nascimento</ion-label>
      <ion-datetime-button datetime="datetime" disabled="{{editar}}"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
            id="datetime" 
            [(ngModel)]="dataNascimento"
            presentation="date"
            display-format="DD/MM/YYYY" 
            max="{{maxDate}}"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-button expand="block" click="excluir()" color="danger" disabled="{{editar}}">Excluir</ion-button>
    <ion-button expand="block" click="salvar()" color="danger" disabled="{{editar}}">Excluir</ion-button>
  </ion-list>
</ion-content>