<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Agenda de Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding detalhar-content">

  <!-- Toggle de edição -->
  <ion-item lines="full">
    <ion-label>Editar Contato</ion-label>
    <ion-toggle color="success" (ionChange)="alterarEdicao()" [checked]="!editar"></ion-toggle>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input placeholder="Digite o nome" type="text" [(ngModel)]="nome" [disabled]="editar"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Telefone</ion-label>
          <ion-input placeholder="Digite o telefone" type="text" [(ngModel)]="telefone" [disabled]="editar"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Gênero</ion-label>
          <ion-select placeholder="Selecione" [(ngModel)]="genero" [disabled]="editar">
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Feminino">Feminino</ion-select-option>
            <ion-select-option value="Não declarar">Não declarar</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Data de Nascimento</ion-label>
          <ion-datetime-button datetime="datetime" [disabled]="editar"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
                id="datetime" 
                [(ngModel)]="dataNascimento"
                presentation="date"
                display-format="DD/MM/YYYY" 
                [max]="maxDate">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <!-- Botões -->
        <ion-button expand="block" color="danger" (click)="confirmarExclusao()" [disabled]="editar" class="ion-margin-top btn-detalhar">
          Excluir
        </ion-button>

        <ion-button expand="block" color="success" (click)="salvar()" [disabled]="editar" class="ion-margin-top btn-detalhar">
          Salvar
        </ion-button>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
