.detalhar-content {
  --background: #ffffff;
}

ion-card {
  border-radius: 15px;
  --background: #e6f0ff; /* azul claro */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

ion-item {
  --background: transparent;
  margin-bottom: 10px;
}

ion-button.btn-detalhar {
  border-radius: 8px;
  font-weight: bold;
}

ion-toolbar {
  --background: #cce0ff;
  color: #004080;
}
